/*Navigation*/
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background-color: #000 !important;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom,
.navbar-brand,
.navbar-toggle {
  padding: 10px;
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}
.menu_img {
  padding-top: 10px;
  width: 100px;
}

.page-scroll {
  font-size: 11px;
}

@media (min-width: 768px) {
  .logo > img {
    padding-top: 10px;
  }
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #000;
  }
  #nav-modified {
    margin-left: 3%;
  }
  #first_r {
    padding-top: 10%;
  }
}
@media (max-width: 767px) {
  .logo > img {
    padding-top: 10px;
  }
  .career-btn,
  .sm-links {
    float: right;
  }
  .sm-links {
    position: relative !important;
  }
  #first_r {
    padding-top: 16%;
  }
  .cover_text{
    font-size: 15px !important;
  }
  #first_l {
    padding-top: 5% !important;
    height: unset !important;
    background-attachment: scroll !important;
  }
}
.sm-links {
  padding: 10px;
  right: 0;
  top: 0;
  position: absolute;
}

/* Reusable css */
.main {
  background: #e8e7e7;
}

.bg-font {
  font-weight: 200;
  font-size: 30px;
}

.md-font {
  font-weight: 200;
  font-size: 20px;
}

.sm-font {
  font-weight: 200;
  font-size: 14px;
}
#first_l {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: inline-block;
  background: url(../img/bg3-optimized.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 16%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
.cover_text {
  color: #fff;
  font-weight: bold;
}

.text-primary {
  color: #009900;
}

.text-primary1 {
  color: #0099ff;
}

/*Startup c0ver image*/
/*.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat;
    background-color: #000;
    background-attachment: fixed;
    background-position: bottom center;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@media only screen and (max-device-width: 768px) {
    .intro {
        background-attachment: scroll;
    }
}*/
h2.highlight
{
    display: inline;
    background: #ffffff;
    color: #000000;
    letter-spacing: 1px;
    line-height: 180%;
    padding: 5px 10px;
}/*
.intro .intro-body {`
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 30%;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}*/
/*.center_text {
  margin-left: 0px;
}*/